@import '../node_modules/swiper/swiper-bundle';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    color: #fff;
    list-style-type: none;
}



body{
    background: url('../img/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    padding-top: 46px;
    &__inner{
        display: flex;
        gap: 24px;
    }
    &__logo{
        display: block;
    }
}
.menu{
    &__list{
        display: flex;
        gap: 5px;
    }
    &__item {
        margin-top: 40px;
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
    }
    &__link{
        text-decoration: none;
        padding: 5px 10px;
        transition: .1s;
        border-bottom: 2px solid transparent;
        &:hover{
            border-bottom: 3px solid lightcoral;
        }
    }
}

.swiper{
    max-width: 1200px;
    &__title{
        padding-top: 237px;
        font-size: 120px;
        font-weight: 400;
        line-height: 141px;
        letter-spacing: 0px;
    }
    &__subtitle{
        margin-top: 15px;
        margin-bottom: 75px;
        font-size: 35px;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: .5px;
    }
}

.swiper-button-prev{
    display: none;
}

.swiper-button-next{
    display: none;
}

.swiper-pagination{
    text-align-last: left;
    display: flex;
    gap: 18px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 21px;
    height: 20px;
    background: #fff;
    margin: 0;
}

// .swiper-pagination-bullet{

// }
